  @import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

  p{
    color: black;
    font-family: 'Vina Sans';
  }

  body{
    background-image: url('../assets/imgs/fondo.jpg');
    /*Cubre toda el área del body*/
    background-size:cover ;
    /*Evitar que la imagen se repita*/
    background-repeat: no-repeat;
    /*Hacer que la imagen esté fija*/
    background-attachment: fixed ;
}

@keyframes moverImagen {
   from {
        transform: translateX(-100);
   } to{
        transform: translateX(1000%);
   }
}

#miCochecito{
    width: 150px;
    height: 100px;
    background-image: url('../assets/imgs/coche-deportivo.png');
    background-size: cover;
    animation: moverImagen 4s linear infinite;
}
